.GreenButton{
    -fx-background-color: #73c470;
    -fx-background-radius: 5;
}

.GreenButton:hover{
    -fx-background-color: #3eb244;
}

.NeutralButton {
    -fx-background-color: #cacaca;
    -fx-background-radius: 5;
}

.NeutralButton:hover{
    -fx-background-color: #9a9a9a;
}

.RedButton{
    -fx-background-color: #e27575;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.RedButton:hover{
    -fx-background-color: #a34b4a;
}

.RoundButton{
    -fx-background-radius: 100;
    -fx-alignment: center center;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}