.create_button{
    -fx-background-color: red;
}

.create_button:hover{
    -fx-background-color: white;
}

.anchor-pane{
    -fx-background-color: white;
}

.AccountDisplay{
    -fx-background-color: #dedede;
}

.anchor-pane{
    -fx-background-color: white;
}

.return{
    -fx-background-color: RED
}

.accept{
    -fx-background-color: RED
}