Button{
	-fx-background-color: white;
	-fx-text-fill: green; 
	-fx-font-size: 15pt;
}

Button:hover{
	-fx-background-color: #e5e5e5
}

#Selected{
	-fx-background-color: green;
	-fx-text-fill: white; 
}
#Selected{
	-fx-background-color: darkgreen;
}